{{ define "Mainpage" }}
{{ template "Header" }}
<div class="container">
  <h2> Tool List </h2>

  <p>
      <a href="/new" class="btn btn-primary">New Tool</a>
  </p>
  <table id="tabledata" class="display" style="width: 100%">
    <thead>
      <tr>
        Список таблиц
      </tr>
    </thead>
    <tbody>
      {{ range . }}
      <tr>
        <td>{{ . }}</td>
        <td>
          <a href="/showTable?tablename={{ . }}" class="btn btn-primary">View</a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>

</div>
{{ template "Footer" }}
{{ end }}
